@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap');

body {
    background-color: #FFFFFF;
}

.title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title, .font-large {
    font-family: 'Luckiest Guy', cursive;
}

.font {
    font-family: 'Open Sans', sans-serif;
}

.button-header-baixar, .button-header-abrir {
    border: none;
    border-radius: 28px;
}

.button-header-baixar {
    color: #000000;
    background-color: #FFFFFF;
}

.button-header-abrir {
    color: #FFFFFF;
    background-color: #23272A;
}

footer {
    background-color: #23272A;
}

                                                            /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 

    body {
        display: grid;
        grid: 90vh auto 20vh / repeat(4, 1fr);
    }
    
    .title {
        font-size: 2rem;
        max-width: 280px;
        color: #FFFFFF;
    }

    .header {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        background: #FFFFFF url("images/background-small.png") no-repeat right bottom;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        padding: 0 24px;
    }

    .header p {
        color: #FFFFFF;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 auto;
    }

    .button-header-baixar, .button-header-abrir {
        width: min(80vw, 380px);
        padding: 15px 0;
    }

    .button-header-baixar a, .button-header-abrir a {
        font-size: 16px;
        text-align: center;
    }

    main {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        padding: 40px 24px;
        display: flex;
        flex-direction: column;
        row-gap: 80px;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
    }

    .information-section {
        display: flex;
        flex-direction: column;
        gap: 27px;
    }

    .section picture img {
        width: 90vw;
    }

    .title-section {
        max-width: 370px;
        color: #23272A;
        font-size: 24px;
        font-weight: 800;
        align-self: flex-start;
    }

    .text-section {
        line-height: 22px;
        max-width: 378px;
        color: #23272A;
        font-size: 16px;
        font-weight: 400;
    }

    .font-large {
        font-size: 2rem;
        letter-spacing: 1px;
        color: #23272A;
        text-transform: uppercase;
    }

    footer {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        display: flex;
        align-items: center;
    }

    footer figure {
        margin: 0 auto;
    }

    footer figure img {
        width: min(80vw, 230px);
    }

    main{
        row-gap: 80px;
    }

}

                                                                /* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 991px) {

    main {
        row-gap: 40px;
    }

    .header {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        background: #FFFFFF url("images/background-small.png") no-repeat right bottom;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 0 50px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 auto;
    }

    .button-header-baixar, .button-header-abrir {
        width: min(80vw, 380px);
        padding: 15px 0;
    }

    .button-header-baixar a, .button-header-abrir a {
        font-size: 16px;
        text-align: center;
    }

    .information-section {
        display: flex;
        flex-direction: column;
        gap: 27px;
    }

}

@media (min-width: 576px) { 

    body {
        display: grid;
        grid: 90vh auto 20vh / repeat(4, 1fr);
    }
    
    .title {
        font-size: 2rem;
        max-width: 280px;
        color: #FFFFFF;
    }

    .header p {
        color: #FFFFFF;
    }

    main {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        padding: 40px 24px;
        display: flex;
        flex-direction: column;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
    }

    .section picture img {
        width: 85vw;
    }

    .title-section {
        width: 500px;
        color: #23272A;
        font-size: 24px;
        font-weight: 800;
        align-self: center;
    }

    .text-section {
        line-height: 22px;
        max-width: 500px;
        color: #23272A;
        font-size: 16px;
        font-weight: 400;
    }

    .font-large {
        font-size: 2rem;
        letter-spacing: 1px;
        color: #23272A;
        text-transform: uppercase;
    }

    footer {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        display: flex;
        align-items: center;
    }

    footer figure {
        margin: 0 auto;
    }

    footer figure img {
        width: min(80vw, 230px);
    }


}

                                                                        /* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) { 
    
    .header {
        padding: 100px;
    }

    .title {
        font-size: 2.5rem;
    }

    .title-section, .text-section {
        text-align: center;
        width: 600px;
    }

    .information-section {
        align-items: center;
    }

}

@media (min-width: 785px) {

    .section picture img {
        width: 100%;
    }

}

                                                                        /* Large devices (desktops, 992px and up) */

@media (min-width: 992px) { 

    main {
        gap: 40px;
    }

    .header {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        background: #FFFFFF url("images/background.png") no-repeat center bottom;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 50px;
    }

    .title {
        text-align: center;
        font-size: 3.5rem;
        max-width: 400px;
    }

    .text-header {
        text-align: center;
        max-width: 750px;
        line-height: 20px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin: 0 auto;
    }

    .button-header-baixar {
        padding: 11px 24px;
    }

    .button-header-abrir {
        padding: 11px 17px;
    }

    .button-header-baixar a, .button-header-abrir a {
        font-size: 16px;
        text-align: center;
    }

    .section {
        flex-direction: row;
        justify-content: center;
    }

    .section picture img {
        width: 60vw;
    }

    .information-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        gap: 16px;
    }
    
    .title-section {
        max-width: 329px;
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 50px;
    }
    
    .text-section {
        line-height: 25px;
    }
    
    .title-section, .text-section {
        text-align: start;
        max-width: 350px;
    }
    
    .section-02 {
        flex-direction: row-reverse;
    }
    
    .section-04 {
        flex-direction: column;
        gap: 0;
    }

    .font-large {
        text-align: center;
        max-width: 500px;
        letter-spacing: 2px;
    }

    .text-section-04 {
        text-align: center;
        max-width: 800px;
        max-height: 45px;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    main {
        row-gap: 40px;
    }

    .section picture img {
        width: 100%;
    }

    .section-04 {
        padding-top: 40px;
    }

}